# Regression Challenge

Predicting the selling price of a residential property depends on a number of factors, including the property age, availability of local amenities, and location.

In this challenge, you will use a dataset of real estate sales transactions to predict the price-per-unit of a property based on its features. The price-per-unit in this data is based on a unit measurement of 3.3 square meters.

> **Citation**: The data used in this exercise originates from the following study:
>
> *Yeh, I. C., & Hsu, T. K. (2018). Building real estate valuation models with comparative approach through case-based reasoning. Applied Soft Computing, 65, 260-271.*
>
> It was obtained from the UCI dataset repository (Dua, D. and Graff, C. (2019). [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml). Irvine, CA: University of California, School of Information and Computer Science).

## Review the data

Run the following cell to load the data and view the first few rows.

In [4]:
import pandas as pd

# load the training dataset
data = pd.read_csv('data/real_estate.csv')
data.head()

,transaction_date,house_age,transit_distance,local_convenience_stores,latitude,longitude,price_per_unit
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
data.describe

<bound method NDFrame.describe of      transaction_date  house_age  transit_distance  local_convenience_stores  \
0            2012.917       32.0          84.87882                        10
1            2012.917       19.5         306.59470                         9
2            2013.583       13.3         561.98450                         5
3            2013.500       13.3         561.98450                         5
4            2012.833        5.0         390.56840                         5
..                ...        ...               ...                       ...
409          2013.000       13.7        4082.01500                         0
410          2012.667        5.6          90.45606                         9
411          2013.250       18.8         390.96960                         7
412          2013.000        8.1         104.81010                         5
413          2013.500        6.5          90.45606                         9

     latitude  longitude  price_per_unit
0    24.98298  121.54024            37.9
1    24.98034  121.53951            42.2
2    24.98746  121.54391            47.3
3    24.98746  121.54391            54.8
4    24.97937  121.54245            43.1
..        ...        ...             ...
409  24.94155  121.50381            15.4
410  24.97433  121.54310            50.0
411  24.97923  121.53986            40.6
412  24.96674  121.54067            52.5
413  24.97433  121.54310            63.9

[414 rows x 7 columns]>

In [6]:
#data.isnull().sum()

transaction_date            0
house_age                   0
transit_distance            0
local_convenience_stores    0
latitude                    0
longitude                   0
price_per_unit              0
dtype: int64

In [7]:
data[data.isnull().any(axis = 1)]

Empty DataFrame
Columns: [transaction_date, house_age, transit_distance, local_convenience_stores, latitude, longitude, price_per_unit]
Index: []

The data consists of the following variables:

- **transaction_date** - the transaction date (for example, 2013.250=2013 March, 2013.500=2013 June, etc.)
- **house_age** - the house age (in years)
- **transit_distance** - the distance to the nearest light rail station (in meters)
- **local_convenience_stores** - the number of convenience stores within walking distance
- **latitude** - the geographic coordinate, latitude
- **longitude** - the geographic coordinate, longitude
- **price_per_unit** house price of unit area (3.3 square meters)

## Train a Regression Model

Your challenge is to explore and prepare the data, identify predictive features that will help predict the **price_per_unit** label, and train a regression model that achieves the lowest Root Mean Square Error (RMSE) you can achieve (which must be less than **7**) when evaluated against a test subset of data.

Add markdown and code cells as required to create your solution.

> **Note**: There is no single "correct" solution. A sample solution is provided in [02 - Real Estate Regression Solution.ipynb](02%20-%20Real%20Estate%20Regression%20Solution.ipynb).

In [ ]:
# Your code to explore data and train a regression model

## Use the Trained Model

Save your trained model, and then use it to predict the price-per-unit for the following real estate transactions:

| transaction_date | house_age | transit_distance | local_convenience_stores | latitude | longitude |
| ---------------- | --------- | ---------------- | ------------------------ | -------- | --------- |
|2013.167|16.2|289.3248|5|24.98203|121.54348|
|2013.000|13.6|4082.015|0|24.94155|121.50381|

In [ ]:
# Your code to use the trained model